@charset "utf-8";

body{
    background: #f5f5f5;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~登录前头部~~~~~~~~~~~~~~~~~~~~~~~~*/
.head-top-wrap{
    height: 42px;
    background: #f5f5f5;
    border-bottom: 1px solid #dcdcdc;
}
.head-top{
    min-width: 1200px;
    line-height: 42px;
    margin: 0 auto;
}
.head-top .welcome{
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 24px;
}
.head-top .enter{
    float: right;
}
.head-top .enter a{
    float: left;
}
.head-top .enter .entrance{
    display: inline-block;
    width: 82px;
    height: 28px;
    color: #fff;
    background: #c6151f;
    text-align: center;
    line-height: 28px;
    margin: 7px 20px 0 0;
    border-radius: 4px;
}
.head-top .enter .help{
    margin-right: 16px;
}
.head-top .enter .help:hover{
    color: #000;
    text-decoration: underline!important;
}
.head-top .enter .tel{
    float: right;
    margin-right: 20px;
}
.head-top .enter i{
    display: inline-block;
    float: right;
    width: 24px;
    height:18px;
    background: url("../images/login-ghost.png") -188px -255px no-repeat;
    margin:12px 8px 0 0;
}
.head-bottom{
    min-width: 1280px;
    height: 96px;
    margin:0 auto;
    padding-top: 16px;
    border-bottom: 1px solid #bebebe;
}
.head-bottom h1{
    width: 217px;
    height: 69px;
    float: left;
    margin-left: 38px;
}
.head-bottom .nav{
    float: right;
}
.head-bottom .nav li{
    float: left;
    width: 75px;
    height: 80px;
    text-align: center;
    line-height: 68px;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 500;
}
.head-bottom .nav li a{
    height: 80px;
    display: block;
}
.head-bottom .nav a.active{
    color:#c81624;
    border-bottom: 4px solid #c81724;
}
.head-bottom .nav a:hover{
    color:#c81624;
    border-bottom: 4px solid #c81724;
}
.head-bottom .nav .about-us{
    margin-right: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~登陆后的头部~~~~~~~~~~~~~~~~~~~~~*/
.enter ul li{
    float: left;
    font-size: 14px;
    margin-right: 24px;
    font-weight: 500;
}
.enter ul .username:hover,
.enter ul .my-lib:hover{
    color: #c81624;
}

.head-top .enter a{
    float: none;
}
.head-top .enter a:hover{
    cursor: pointer;
}
.head-bottom{
    background: #fff;
}
.breadcrumb{
    background: #f5f5f5;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~头部~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.head{
    width: 100%;
    height: 131px;
    background: #ffffff;
    min-width: 1200px;
    position: relative;
}
.head h1{
    margin:0 16% 0 3%;
}
.head h1 a{
    text-indent: -99999px;
    display: inline-block;
    width: 217px;
    height: 69px;
    background: url("../images/logo.png");
    margin-top: 32px;
}
.search-key{
    margin-top:48px;
    width: 546px;
    height: 40px;
    border: 1px solid #8d8d8d;
    border-radius: 2px;
    box-shadow: inset 2px 2px 5px #dfdfdf;
    position: absolute;
    left: 50%;
    margin-left: -273px;
}
.search-key .dropdown{
    margin: 10px 5px 0 8px;
    width: 102px;
    cursor: pointer;
}
.search-key .dropdown .caret{
    margin-top: -2px;
}
.search-key ul{
    left: -9px;
    top: 28px;
    position: absolute;
}
.search-key ul li{
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.search-key ul li:hover{
    background: #f5f5f5;
}
.search-key input{
    width: 368px;
    height: 27px;
    padding:0 10px;
    outline: none;
    border: none;
    margin-top: 6px;
    border-left: 1px solid #b7b7b7;
    color: #8d8d8d;
}
.search-media{
    width: 60px;
    height: 40px;
    background: #C81724;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    position: absolute;
    right: -1px;
    top: -1px;
}
.search-media span{
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("../images/list-ghost.png") 0 -107px no-repeat;
}
.header{
    min-width: 1200px;
}
.header .phone-num{
    display: block;
    width: 275px;
    height: 96px;
    margin: 20px 5% 0 0;
    background: url("../images/list-ghost.png") 0 0 no-repeat;
}
.header .contact-img{
    margin-right: 5%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~导航~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.nav{
    width: 100%;
    min-width: 1200px;
    background: #C81724;
    height: 54px;
    line-height: 54px;
}
.nav ul{
    width: 1200px;
    margin: 0 auto;

}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: block;
    color: #ffffff;
    font-size: 16px;
    padding: 0 45px;
}
.nav ul li a.active-nav,
.nav ul li a:hover{
    background: #1E1E1E;
}

/*~~~~~~banner~~~~~*/
.banner{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    background: url("../images/about-us/about-banner.png") no-repeat;
}

/*~~~~~~content~~~~~*/
.content{
    width: 100%;
    border-top-color: #fff;
}
    /*titlt样式*/
.title{
    width: 425px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 40px 0;
}
.title p{
    color: #e5444e;
    font-size: 22px;
    margin-bottom: 20px;
}
.title .title-footer{
    width: 425px;
    height: 10px;
    background: url("../images/about-us/about-bg.png") -230px -159px no-repeat;
}

    /*company*/
.company{
    width: 1200px;
    margin: 0 auto;
}
.company-introduce{
    width: 650px;
    margin: 0 auto;
}
.company-introduce > p{
    color: #575757;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.company-introduce .icon{
    width: 325px;
    padding-top:10px;
    display: inline-block;
}
.company-introduce .icon span{
    width:105px;
    height: 105px;
    border-radius: 50%;
    display: block;
    background: url("../images/about-us/about-bg.png") -276px 0 no-repeat;
    margin: 0 auto;
}
.company-introduce .icon > p{
    margin-top: 25px;
    color: #575757;
    text-align: center;
    font-size: 16px;
}
    /*team*/
.team{
    width: 1200px;
    margin: 0 auto;
    background: #f5f5f5;
}
.team > img{
    display: block;
    margin: 0 auto 30px;
}
.team .team-introduce{
    width: 1200px;
    height: 166px;
    background: url("../images/about-us/about-team-bg.png");
    background-size: 100% auto;
}
.team-content{
    width: 335px;
    height: 166px;
    display: inline-block;
}
.team-manage{
    margin-left:244px;
    margin-right: 140px;
}
.team-content .tc-left{
    width: 83px;
    height: 68px;
    margin: 53px 15px 0 0;
    display: inline-block;
}
.team-manage .tc-left{
    background: url("../images/about-us/about-bg.png") 0 -159px no-repeat;
}
.team-service .tc-left{
    background: url("../images/about-us/about-bg.png") -97px -158px no-repeat;
}
.team-content .tc-right{
    width: 230px;
    height: 166px;
    text-align: left;
    color: #fff;
}
.team-content .tc-right h3{
    font-size: 20px;
    margin-top: 45px;
}
.team-content .tc-right p{
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
}
    /*resource*/
.resource{
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
.resource > p{
    color: #575757;
    font-size: 28px;
}
.resource > p > span{
    color: #e6444e;
    font-size: 40px;
}
.resource .resource-icon{
    width: 250px;
    display: inline-block;
}
.resource .resource-icon > span{
    width:105px;
    height: 105px;
    border-radius: 50%;
    display: block;
    margin: 80px auto 60px;
}
.resource .resource-icon > p{
    color: #575757;
    font-size: 22px;
    margin-bottom:120px;
}
.resource .resource-icon > p > span{
    color: #e6444e;
    font-size: 40px;
}
.resource .fans > span{
    background: url("../images/about-us/about-bg.png") -137px 0 no-repeat;
}

.resource .wx > span{
    background: url("../images/about-us/about-bg.png") 0 0 no-repeat;
}

.resource .wb > span{
    background: url("../images/about-us/about-bg.png") -412px 0 no-repeat;
}
    /*analyze*/
.analyze{
    width: 1200px;
    height: 555px;
    margin: 0 auto;
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
}
.analyze > p{
    color: #575757;
    font-size: 28px;
}
.analyze > p > span{
    color: #e6444e;
    font-size: 40px;
}
.analyze .an-button{
    display: inline-block;
    margin-right: 19px;
    width: 177px;
    height: 45px;
    color: #575757;
    font-size: 18px;
    line-height: 41px;
    border: 2px solid #e6444e;
    border-radius: 6px;
}
.analyze .first-button{
    margin-left: 377px;
}
.analyze .analyze-text{
    position: absolute;
    top: 237px;
    left: 52px;
    color: #e5444e;
    font-size: 18px;
    text-align: left;
}
.analyze-bg{
    width: 1200px;
    height: 263px;
    margin-top:17px;
    background: url("../images/about-us/about-analyze-bg.png") no-repeat;
}
    /*brand*/
.brand{
    width: 1200px;
    margin: 0 auto;
    padding: 0 28px 45px;
}
.brand .title{
    margin-bottom: 20px;
}
.brand .brand-style{
    width: 255px;
    height: 91px;
    display: inline-block;
    margin: 0 16px 25px 16px;
    background: url("../images/case-center/brand-list.png") -295px -694px no-repeat;
}
.brand .brand-style:hover{
    background: url("../images/case-center/brand-list.png") -0px -694px no-repeat;
}
.brand .pepsi:hover{
    background-position: -0px -694px;
}
.brand .philips{
    background-position: -294px -799px;
}
.brand .philips:hover{
    background-position: -0px -799px;
}
.brand .bankOfSh{
    background-position: -295px -272px;
}
.brand .bankOfSh:hover{
    background-position: -0px -272px;
}
.brand .ford{
    margin-right:0;
    background-position: -295px -377px;
}
.brand .ford:hover{
    background-position: -0px -377px;
}
.brand .Bri{
    background-position: -294px -904px;
}
.brand .Bri:hover{
    background-position: -0px -904px;
}
.brand .chinaMobile{
    background-position: -294px -1009px;
}
.brand .chinaMobile:hover{
    background-position: -0px -1009px;
}
.brand .clear{
    height: 91px;
    background-position: -294px -482px;
}
.brand .clear:hover{
    background-position: -0px -482px;
}
.brand .li-ning{
    margin-right:0;
    background-position: -295px -589px;
}
.brand .li-ning:hover{
    background-position: -0px -589px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~侧边栏联系方式~~~~~~~~~~~~~~~~~~~~~~~*/
.side-bar{
    width: 40px;
    position: fixed;
    top:50%;
    right: 0;
    margin-top: -85px;
}
.side-bar li{
    width: 40px;
    height:38px;
    background: #1e1e1e;
    margin-bottom: 6px;
    border-radius: 6px 0 0 6px;
    padding: 2px 0 0 6px;
    cursor: pointer;
    position: relative;
}
.side-bar li i{
    display: block;
    width: 30px;
    height:30px;
    background: red;
}
.side-bar .tel i{
    background: url("../images/login-ghost.png") no-repeat -435px 4px;
}
.side-bar .qq i{
    background: url("../images/login-ghost.png") no-repeat -435px -50px;
}
.side-bar .weixin i{
    background: url("../images/login-ghost.png") no-repeat -435px -102px;
}
.side-bar .top i{
    background: url("../images/login-ghost.png") no-repeat -382px -106px;
}
.side-bar li .detail{
    width: 150px;
    height:158px;
    box-shadow: 0 0 20px #ccc;
    border: 1px solid #c6c6c6;
    position: absolute;
    top:0;
    left: 46px;
    background: #fff;
    z-index: -1;
}
.side-bar li .detail span{
    display:block;
    width: 16px;
    height: 20px;
    margin:0 auto 10px;
}
.side-bar li .detail p{
    margin-bottom: 10px;
    text-align: center;
}
.side-bar li .qq-con{
    padding-top: 20px;
}
.side-bar li .tel-con{
    padding-top: 22px;
}
.side-bar li .qq-con span{
    background: url("../images/contact-way.png") no-repeat;
}
.side-bar li .tel-con span{
    background: url("../images/contact-way.png") no-repeat -148px 0;
}
.side-bar li .weixin-con span{
    background: url("../images/contact-way.png") no-repeat 0 -39px;
}
.side-bar li .tel-con span{
    width:42px;
    height: 42px;
}
.side-bar li .weixin-con span{
    width: 115px;
    height: 116px;
}
.side-bar li .weixin-con p{
    margin: 0;
    padding: 10px 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~底部~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer{
    width: 100%;
    min-width: 1200px;
    text-align: center;
    height: 96px;
    background: #1E1E1E;
    padding-top: 23px;
    color: #414141;
}
.in-footer a{
    line-height: 20px;
    color: #ffffff;
    padding-right: 29px;
}
.in-footer a i{
    display: inline-block;
    width: 14px;
    margin:-1px 15px 0 16px;
    vertical-align: middle;
    background: url("../images/list-ghost.png") 0 -148px no-repeat;
}
.in-footer a:first-child i{
    height: 13px;
}
.in-footer a:nth-of-type(2) i{
    height: 9px;
    background-position: -48px -150px;
}
.in-footer a:nth-of-type(3) i{
    height: 15px;
    background-position: -96px -147px;
}
.in-footer a:last-child i{
    width: 18px;
    height: 13px;
    background-position: -141px -148px;
}
.footer p{
    color: #ffffff;
    margin-top: 10px;
}