@charset "utf-8";
body{
    background: #f5f5f5;
}
/*~~~登陆后的头部~~~~*/
.enter ul li{
    float: left;
    font-size: 14px;
    margin-right: 24px;
    font-weight: 500;
    cursor: pointer;
}
.enter ul .username:hover,
.enter ul .my-lib:hover{
    color: #c81624;
}
.head-top .enter a{
    float: none;
}
.head-top .enter a:hover{
    text-decoration: underline!important;
}
.head-bottom{
    background: #fff;
}
.breadcrumb{
    background: #f5f5f5;
}
/*~~~~~内容部分~~~~~*/
.content-wrap{
    width: 1190px;
    margin: 0 auto;
    background: #f5f5f5;
}
.content-sidebar{
    width: 170px;
    height: 640px;
    border-top: 2px solid #c81624;
}
.content{
    width: 1000px;
    margin-left: 15px;
}
.con-top{
    height: 72px;
    border-top: 2px solid #c81624;
    padding-top: 12px;
}
.con-top input{
    color: #aaa;
}
.table{
    width: 1000px;
    margin: 16px 0 0 0;
}
.shadow{
    box-shadow: 0 0 10px #d1d1d1;
    border-radius: 4px;
    background: #fff;
}
.table td:nth-of-type(7) a{
    color: #c81624;
    line-height: 22px;
    margin-right: 2px;
}
/*内容部分头部搜索*/
.con-top .condition-area{
    margin:0 48px 0 16px;
}
.con-top .public-name{
    margin: 0;
}
.con-top div input{
    width: 206px;
    height: 45px;
    outline:none;
    border-radius: 4px;
    border: 1px solid #dddddd;
    text-indent: 1em;
    margin-left: 10px;
    transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
}
.con-top div input::-webkit-input-placeholder{
    color: #ccc;
    font-weight: normal;
}
.con-top div input::-moz-placeholder{
    color: #ccc;
    font-weight: normal;
}
.con-top div input:focus{
    border: 1px solid #66afe9;
    box-shadow: -2px 2px 2px rgba(102, 175, 233, 0.2);
    transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
}
.modal-body .area-lib-name input::-webkit-input-placeholder{
    font-weight: normal;
    color: #ccc;
}
.modal-body .area-lib-name input::-moz-placeholder{
    font-weight: normal;
    color: #ccc;
}
.con-top .search,
.con-top .create{
    height: 45px;
    font-size: 16px;
}
.search-form .btn-search{
    width: 100px;
    height: 46px;
    font-size: 16px;
    margin:0 22px 0 56px;
}
.btn-create{
    width: 135px;
    height: 46px;
    line-height: 32px;
    font-size: 16px;
    float: left;
}
.search-form{
    float:left;
}
.con-top .btn-search i{
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    background: url("../../images/media-lib-ghost.png") no-repeat -105px -58px;
}
.con-top .btn-create i{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin:2px 5px 0 0;
    background: url("../../images/media-lib-ghost.png") no-repeat -105px -14px;
}

/*~~~~~表格部分~~~~~*/
table{
    width: 968px;
    margin: 0 auto;
}
table thead{
    height: 62px;
}
table thead tr{
    height: 62px;
}
table tr th{
    text-align: center;
    font-size: 14px;
    color: #1d1d1d;
}
table tr td{
    text-align: center;
    color: #646464;
    font-size: 12px;
}
table tr td span{
    color: #c81822;
    cursor: pointer;
    margin-right: 10px;
}
table tr td .manage a{
    color:#c81822;
}
table tr{
    height: 94px;
    border-bottom: 1px solid #e5e5e5;
}
table .manage,
table .export,
table .remove{
    color: #c81822;
}

.no-border{
    border: none;
}
.no-lib{
    width: 1000px;
    height:108px;
    text-align: center;
    line-height:108px;
    display: none;
}
/*~~~~~新建媒体库modal样式~~~~~*/
.modal-content{
    width: 480px;
    height: 350px;
}
.modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -240px;
}
.modal-header{
    width: 456px;
    margin: 0 auto;
    padding-right: 0;
}
.modal-header h4{
    margin-top: 10px;
    font-size: 14px;
}
.modal-header .close{
    margin-top: 4px;
}
.modal-body{
    padding-top: 30px;
}
.modal-body .area-lib-name{
    margin-left: 20px;
}
.modal-body .area-lib-name input{
    width: 310px;
    height: 45px;
    display: inline-block;
    margin-left: 0;
}
.new-media-lib::-webkit-input-placeholder{
    font-weight: normal;
    color: #ccc;
}
.new-media-lib::-moz-placeholder{
    font-weight: normal;
    color: #ccc;
}
.modal-body button{
    width: 310px;
    height: 48px;
    margin:15px 0 0 105px;
}
.modal-footer{
    border: none;
    text-align: left;
    color: #8e8e8e;
    font-size: 14px;
    margin-left: 20px;
}
.modal-footer h4,
.modal-footer p{
    line-height: 26px;
}
.table-cont td:nth-of-type(8) a {
    color: #c81624;
}