@charset "utf-8";

body,.breadcrumb{
    background: #f5f5f5;
}
.order-creat-content{
    width: 1200px;
    margin: 0 auto;
}
.order-creat-content h2{
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}
.top-title span{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-weight: 500;
}
.top-title .continue-add{
    width: 105px;
    height:35px;
}
.source-choosed{
    width: 1200px;
    margin-top: 10px;
    border-top: 2px solid #c71523;
}
.thead-title{
    width: 99%;
}
.account-platform dl{
    vertical-align: middle;
}
.account-platform dl{
    display: inline-block;
    width: 162px;
}
.account-platform dt{
    width: 45px;
    height: 45px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.account-platform dt img{
    position: absolute;
    left: -192px;
    top: -182px;
}
.sex-icon-g
{
    display: inline-block;
    width: 17px;
    height: 22px;
    vertical-align: middle;
    margin: 4px 0 2px 0;
    background: url("../../images/list-ghost.png") -129px -182px no-repeat;
}
.sex-icon-b{
    background-position: -156px -184px;
}

.platform-icon{
    display: inline-block;
    width: 35px;
    height: 17px;
    vertical-align: middle;
    margin: -2px 0 0 8px;
    background: url("../../images/list-ghost.png") 0 -183px no-repeat;
}
.platform-icon-mp{
    background-position: -40px -183px;
}
.platform-icon-dy{
    background-position: -80px -182px;
}
.platform-icon-hj{
    background-position: 0 -205px;
}
.platform-icon-hn{
    background-position: -41px -205px;
}
.platform-icon-yk{
    background-position: -80px -205px;
}
.platform-icon-tb{
    background-position: -108px -227px;
}
.platform-icon-yzb,
.platform-icon-xm
{
    width: 49px;
    margin-left: 10.5px;
}
.platform-icon-yzb{
    background-position: 0 -227px;
}
.platform-icon-xm{
    background-position: -54px -227px;
}

.table{
    width: 1170px;
    margin:0 auto;
}
.thead-title{
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}
.thead-title thead tr th{
    text-align: center;
    height: 72px;
    line-height: 72px;
    vertical-align: middle;
    font-size: 16px;
}
.table tr{
    border-bottom:1px solid #e5e5e5;
}
.table tbody tr td{
    height: 80px;
    line-height: 80px;
    padding: 0;
    text-align: center;
    border-top: 0;
}
.table a.synopsis:hover{
    color:#c81624;
}
.table .user-ID{
    position: relative;
}
.table .user-ID .whole-ID{
    height: 14px;
    position: absolute;
    top:-10px;
    right:-20px;
}
.dropdown,.table .price{
    color: #9a9a9a;
}
.table-wrap{
    min-height: 108px;
    max-height: 324px;
    overflow: hidden;
    overflow-y: scroll;
}
.source-choosed-table .delete{
    cursor: pointer;
}
.fill-order-title{
    margin: 22px 0 16px;
}
/*填写预约需求*/
.fill-order-con{
    border-top: 2px solid #c71523;
    padding: 40px 0 12px;
    margin-bottom: 45px;
}
.fill-order-con .input-group{
    height: 46px;
    margin-bottom: 16px;
    position: relative;
}
.fill-order-con .input-group textarea{
    padding: 5px;
}
.fill-order-con .input-group .tips{
    font-size: 14px;
    color: #c61620;
    padding: 0 10px;
    background: #fff;
    float: right;
    height: 46px;
    line-height: 46px;
    display: none;
}
.fill-order-con .input-group .tips i{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #c51520;
    line-height: 14px;
    text-align: center;
    margin-right: 4px;
}
.fill-order-con .sweet-tips{
    text-align: right;
    color: #cbcbcb;
}
.fill-order-con .sweet-tips em{
    color: #c81624;
}
.fill-order-con .input-group .platform{
    margin-left: 10px;
}
.fill-order-con .input-group .title-wrap{
    display: inline-block;
    width: 128px;
    text-align: right;
    font-size: 14px;
    color: #1e1e1e;
    font-weight: 500;
}
.fill-order-con .input-group .title{
    position: relative;
}
.fill-order-con .input-group .title i{
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: -4px;
    left: -10px;
    background: url("../../images/login-ghost.png") -281px -216px no-repeat;
}
.fill-order-con .input-group input,textarea{
    width: 404px;
    height: 46px;
    outline:none;
    border-radius: 4px;
    border: 1px solid #dddddd;
    text-indent: 1em;
    margin-left: 10px;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
}
.fill-order-con .plan-time input{
    width:182px;
}
.fill-order-con .plan-time .line {
    display: inline-block;
    width: 20px;
    margin-left: 10px;
    height: 1px;
    background: #c2c2c2;
    vertical-align: middle;
}
.fill-order-con .input-group input:focus,
textarea:focus{
    border: 1px solid #66afe9;
    box-shadow: -2px 2px 2px rgba(102, 175, 233, 0.2);
    transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
}
textarea{
    width:810px;
    height: 150px;
    resize: none;
}
.fill-order-con .booking-require-wrap .tips{
    height: 20px;
    line-height: 20px;
    padding: 0;
    display: none;
}
.submit{
    display: block;
    width: 172px;
    height: 40px;
    line-height: 28px;
    margin: 0 auto 72px;
    color: #fff;
}
.submit:hover{
    color: #fff;
}
.no-resource{
    width: 1200px;
    height:108px;
    text-align: center;
    line-height:108px;
    display: none;
}