.active-status{
    line-height: 45px;
    margin-left: 15px;
}
@charset "utf-8";

.content-wrap{
    width: 1190px;
    margin: 0 auto 25px;
}
.red{
    color: #c81624;
}
.content-sidebar{
    width: 170px;
    height: 640px;
    border-top: 2px solid #c81624;
}
.content{
    width: 1000px;
    margin-left: 15px;
}
.con-top{
    height: 72px;
    border-top: 2px solid #c81624;
    padding-top: 12px;
    position: relative;
}

.table{
    width: 1000px;
}
.shadow{
    box-shadow: 0 0 10px #d1d1d1;
    border-radius: 4px;
    background: #fff;
}
/*内容部分头部搜索*/
.con-top .media-lib-name{
    margin-left: 16px;
}
.con-top .detail-name{
    margin-left: 46px;
}
.con-top div input{
    width: 148px;
    height: 45px;
    outline:none;
    border-radius: 4px;
    border: 1px solid #dddddd;
    text-indent: 1em;
    transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
}
.con-top div input::-webkit-input-placeholder{
    color: #ccc;
    font-weight: normal;
}
.con-top div input::-moz-placeholder{
    color: #ccc;
    font-weight: normal;
}
.con-top div input:focus{
    border: 1px solid #66afe9;
    box-shadow: -2px 2px 2px rgba(102, 175, 233, 0.2);
    transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
}
.con-top .search-btn,
.con-top .create{
    height: 45px;
    font-size: 16px;
}
.con-top .search-btn i{
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    background: url("../../images/media-lib-ghost.png") no-repeat -105px -58px;
}
.con-top .create{
    width: 134px;
    padding:0 0 0 8px;
    line-height: 45px;
}
.con-top .create i{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 7px;
    background: url("../../images/media-lib-ghost.png") no-repeat -105px -14px;
}
.dropdown{
    width: 150px;
    height: 45px;
    margin:0 8px 0 14px;
    color: #aaa;
}
.dropdown .show-default{
    display: block;
    height: 40px;
    line-height: 40px;
    margin-left: 14px;
}
.dropdown .caret{
    margin: 18px 6px 0 0;
}
.dropdown-menu{
    min-width: 148px;
}
.order-time .line{
    margin:0;
}
.active-account{
    margin-right: 8px;
}
.con-top .order-time input{
    width: 132px;
    text-align: left;
}
.con-top .search-btn{
    width: 94px;
    margin-left: 16px;
}
.content h4 {
    line-height: 40px;
    text-align: right;
}
/*~~~~~表格部分~~~~~*/
.table table{
    width: 968px;
    margin: 0 auto;
}
.table table thead{
    height: 62px;
}
.table table thead tr{
    height: 62px;
}
.table table tr th{
    text-align: center;
    font-size: 14px;
    color: #1d1d1d;
}
.table table tr td{
    text-align: center;
    font-size: 14px;
}
.table table tr{
    height: 80px;
    border-bottom: 1px solid #e5e5e5;
}
.no-border{
    border: none;
}
.operate{
    color: #c81822;
    margin-right: 10px;
}
.operate:hover,
.operate:link{
    color: #c81822;
}
.no-data{
    width: 1000px;
    height:108px;
    text-align: center;
    line-height:108px;
    display: none;
}


